@page "/"

<h3>Сотрудники ООО "Крок"</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Телефон (дом/моб), email</th>
            <th>Телефон (рабочий)</th>
            <th>Внутренняя связь</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ковальчук Иван Семенович</td>
            <td>Директор</td>
            <td>51 17 77 <br /> 8 029 673 25 94</td>
            <td>93 75 75</td>
            <td>202</td>
        </tr>
    </tbody>
</table>