@page "/"

<h4>Сотрудники</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>ФИО</th>
            <th>Должность</th>
            <th>Телефон (дом/моб), email</th>
            <th>Телефон (рабочий)</th>
            <th>Внутренняя связь</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ковальчук Иван Семенович</td>
            <td>Директор</td>
            <td>51 17 77 <br />8 029 673 25 94<br />ick.krok@gmail.com</td>
            <td>93 75 75</td>
            <td>202</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ковальчук Валентина Ивановна</td>
            <td>Специалист по развитию</td>
            <td>51 17 77<br />8 029 651 63 47<br />vik.krok.brest@gmail.com</td>
            <td>93 75 74</td>
            <td>212</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Ильяшевич Сергей Викторович</td>
            <td>Инженер</td>
            <td>53 21 53<br />8 029 798 45 03</td>
            <td>93 75 73</td>
            <td>208</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Сидоренко Татьяна Леонтьевна</td>
            <td>Главный бухгалтер</td>
            <td>40 61 93<br /> 8 029 528 67 33</td>
            <td>93 75 71</td>
            <td>206</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Ковальчук Анна Ивановна</td>
            <td>Менеджер</td>
            <td>8 029 722 33 57<br />ooo.krok.brest@gmail.com</td>
            <td>93 75 72</td>
            <td>207</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Кулинич Александр Игоревич</td>
            <td>Заместитель директора</td>
            <td>52 44 37<br />8 029 336 32 68<br />ooo.krok.3@gmail.com</td>
            <td>93 75 70</td>
            <td>209</td>

        </tr>
        <tr>
            <td>7</td>
            <td>Борисевич Елена Васильевна</td>
            <td>Юрисконсульт</td>
            <td>53 99 49<br />8 029 726 42 84<br />jur.krok@gmail.com</td>
            <td>93 75 72</td>
            <td>207</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Божик Анна Ивановна</td>
            <td>Специалист по кадрам</td>
            <td>46 93 79<br />8 029 205 43 73<br />sekretar.krok@gmail.com</td>
            <td>93 75 70</td>
            <td>201</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Олякевич Яков Николаевич</td>
            <td>Помощник руководителя</td>
            <td>50 85 79<br />8 029 796 88 18<br />8 029 154 44 50<br />ooo.krok.4@gmail.com</td>
            <td>93 75 70</td>
            <td>213</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Кожемякин Виктор Владимирович</td>
            <td>Администратор</td>
            <td>55 08 27<br />8 029 539 51 96<br />8 029 323 99 48</td>
            <td>93 75 70</td>
            <td>208</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Куцик Владимир Михайлович</td>
            <td>Рабочий по компл. обсл. зданий и сооруж</td>
            <td>48 56 32<br />8 029 529 56 32</td>
            <td>-</td>
            <td>205</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Юрковская Татьяна Васильевна</td>
            <td>Уборщик помещений</td>
            <td>54 87 93<br />8 029 794 93 40</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Коваленко Александр Александрович</td>
            <td>Врач-специалист (совместитель)</td>
            <td>8 029 792 53 46</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Мисак Леонид Валентинович</td>
            <td>Программист (совместитель)</td>
            <td>94 17 26<br /> 8 029 798 94 50</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Алейникова Анжелика Валентиновна</td>
            <td>Секретарь</td>
            <td>8 029 798 28 56</td>
            <td>93 75 70</td>
            <td>201</td>
        </tr>
    </tbody>
</table>