@page "/orent"
@using RentLibrary
@inject HttpClient Http

@*<h3>Объекты аренды</h3>*@

<p>Список объектов недвижимости в собственности</p>

@if (objects == null)
{
    <p><em>Загрузка данных...</em></p>
}
else
{
  
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Наименование объекта</th>
                <th>Адрес объекта</th>
                <th>Кадастровый номер</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in objects)
            {
                <tr>
                    <td>@obj.Id</td>
                    <td>@obj.Name</td>
                    <td>@obj.Address</td>
                    <td>@obj.CNo</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ObjectRect[] objects;

    protected override async Task OnInitializedAsync()
    {
        objects = await Http.GetJsonAsync<ObjectRect[]>("http://localhost:21475/api/Objects");
    }


}
