@page "/renterdetails/{id}"

@using System.Diagnostics
@using RentLibrary
@inject HttpClient Http
@inject IJSRuntime JsRuntime

<h3>Контакты</h3>

@if (renter == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div>
        <h4>Арендатор</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Наименование
            </dt>

            <dd>
                @renter.RenterName
            </dd>

            <dt>
                Контактное лицо
            </dt>

            <dd>
                @renter.ContactPerson
            </dd>

            <dt>
                Контактная информация
            </dt>

            <dd>
                @renter.ContactPhone
            </dd>
        </dl>
    </div>
    <hr />
    <p>
        <a href="/renters" class="btn btn-outline-primary">Назад к списку</a>
    </p>
}


@code {

    [Parameter]
    public string id { get; set; }

    private RenterRect renter;



    protected override async Task OnInitializedAsync()
    {
        renter = await Http.GetJsonAsync<RenterRect>("http://localhost:21475/api/Renters/" + id);
    }




}
