@page "/orent"
@using RentLibrary
@using System.Diagnostics
@using Data

@inject ObjectService objectService;


@*<h3>Объекты аренды</h3>*@

@if (objects == null)
{
    <p><em>Загрузка данных...</em></p>
}
else
{

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Наименование объекта</th>
                <th>Адрес объекта</th>
                <th>Инв. номер</th>
                @*<th>Действие</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in objects)
            {
                <tr>
                    <td @onclick="(() => OpenEdit(obj) )"><a>@obj.Id</a></td>
                    <td><a href="/oareas/@obj.Id">@obj.Name</a></td>
                    <td>@obj.Address</td>
                    <td>@obj.CNo</td>
                    @*<td><button class="btn btn-sm btn-secondary" @onclick="(() => OpenEdit(obj) )">Edit</button></td>*@
                </tr>

            }
        </tbody>
    </table>


    @if (ShowEdit)
    {
        <!-- This is the popup to create or edit a forecast -->
        <div class="modal modal-backdrop" role="dialog" style="display:block">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Редактирование объекта</h3>
                        <!-- Button to close the popup -->
                        <button type="button" class="close"
                                @onclick="CloseEdit">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <!-- Edit form for the current forecast -->
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Наименование</span>
                            </div>
                            <input type="text" class="form-control" @bind="editObject.Name">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Адрес</span>
                            </div>
                            <input type="text" class="form-control" @bind="editObject.Address">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Инв. номер</span>
                            </div>
                            <input type="text" class="form-control" @bind="editObject.CNo">
                        </div>
                        <!-- Only show button if not a new record -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" @onclick="( () => Save(editObject, editObject))" >Сохранить</button>
                        <button type="button" class="btn btn-danger" @onclick="CloseEdit">Отмена</button>

                    </div>
                </div>
            </div>
        </div>
    }
}

@code {
    private ObjectRect[] objects;

    bool ShowEdit = false;

    private ObjectRect editObject;

    protected override async Task OnInitializedAsync()
    {
        //objects = await Http.GetJsonAsync<ObjectRect[]>(ConnectAPI.apiUri + "/api/Objects");
        objects = await objectService.GetObjectsAsync();
    }

    void CloseEdit()
    {
        // Close the Popup
        ShowEdit = false;
    }

    void OpenEdit(ObjectRect obj)
    {
        editObject = obj;
        ShowEdit = true;
    }

    void Save(ObjectRect objOld, ObjectRect objNew)
    {
        Debug.WriteLine(objOld.Id);
        Debug.WriteLine(objNew.Name);
        ShowEdit = false;
    }
}
