@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

 <div class="top-row px-5">
                <img src="logo.jpg" width="50" height="50" />
                <h2 class="ml-3">Девелоперская компания ООО "Крок"</h2>
                <a href="http://krokooo.by" target="_blank" class="ml-md-auto">Веб-сайт</a>
 </div>
    <div class="content px-4">
        @Body
    </div>
</div>
