<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Меню</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="orent">
                <span class="oi oi-map" aria-hidden="true"></span> Объекты
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="areas">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Площади для аренды
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="renters">
                <span class="oi oi-people" aria-hidden="true"></span> Арендаторы
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
